html{
    width: 100%;
    height: 100%;
}
@font-face {
  font-family: 'Redaction'; /* Name of the font */
  src: url('redaction.ttf') format('truetype');
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes fadeInOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    85% {opacity: 1;}
    100% {opacity: 0;}

  }

#demo3
{
  font-size: 60px;
  font-family: 'Redaction', sans-serif;
  color: rgb(0, 0, 0);
  animation: spin 10s linear forwards, fadeInOut 10s linear forwards;

  position: relative;

}

#model {
  --progress-bar-color: none;
  --progress-bar-height: 0px;
  animation: fadeInOut 10s linear forwards;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  
  }

  .alert-container
  {

    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    height: 100vh;
    
  }
  #demo3 span {
    letter-spacing: -.01em; /* Adjust this value */
  }